@use '../../common/styles/variables';
@use '../../common/styles/mixins';

.footer {
  background-color: variables.$light-purple;
  color: variables.$white-color;
  padding: 1rem 0;

  @include mixins.respond(phone) {
    border: 0px;
  }

  &__text {
    color: darken(variables.$white-color, 100%);
    font-size: 1.3rem;

    a {
      color: darken(variables.$white-color, 100%);
      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: variables.$light-purple;

      &:hover,
      &:active {
        color: variables.$primary-color;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin: 1rem auto;
    border: 0;
    width: 50%;
    border-top: 2px solid rgb(93, 92, 92);
  }
}



.backToTop i {
  color: variables.$white-color;
  margin: 1rem 0;
  font-size: variables.$big-font-size;

  transition: all 0.2s ease-in;

  @include mixins.respond(tab-land) {
    font-size: variables.$xLarge-font-size;
  }
  @include mixins.respond(tab-port) {
      font-size: variables.$large-font-size;
  }
  @include mixins.respond(phone) {
    font-size: variables.$med-font-size;
  }

  &:hover {
    transform: translateY(-2px);
  }
}
