@use './variables';
@use './mixins';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.sectionTitle {
  margin-bottom: 4.5rem;
  font-size: variables.$big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include mixins.respond(tab-land) {
    margin-bottom: 2rem;
  }
  @include mixins.respond(tab-port) {
    font-size: variables.$med-font-size;
    margin-bottom: 2.5rem;
  }
}

.textColorMain {
  @include mixins.supportColorForIE11();

  &:hover {
    transform: translateX(2px);
  }
}
