@use './variables';
@use './mixins';
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: variables.$small-font-size;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.sectionTitle {
  margin-bottom: 6rem;
  font-size: variables.$big-font-size;
  font-weight: bold;
  text-transform: uppercase;

  @include mixins.respond(tab-land) {
    margin-bottom: 2.5rem;
  }

  @include mixins.respond(tab-port) {
    font-size: variables.$med-font-size;
    margin-bottom: 1rem;
  }

}

.darkPurpleText {
  color: variables.$dark-purple-text !important;
}

.textColorMain {
  @include mixins.supportColorForIE11();

  // Responsive text purple style
  @include mixins.respond(phone) {
    background-image: none;
    -webkit-text-fill-color: variables.$secondary-color;
  }

  &:hover {
    transform: translateX(2px);
  }
}
