// COLORS
$primary-color: #f1c9e0;
$secondary-color: #40193d;

$white-color: #fff;
$black-color: black;

$light-purple: #b199b6;
$light-grey: #d2d2d2;

$dark-purple-text: #5c0f7e; // For Headings

// FONT SIZE
$button-font-size: 1.3rem;
$small-font-size: 2rem;
$mid-font-size: 2.3rem;
$big-font-size: 4rem;
