// COLORS
$primary-color: #f1c9e0;
$secondary-color: #40193d;

$white-color: #fff;
$black-color: black;

$light-purple: #b199b6;
$light-grey: #d2d2d2;

$dark-purple-text: #71119b; // For Headings

// FONT SIZE
$big-btn-font-size: 2rem;
$med-btn-font-size: 1.7rem;
$small-btn-font-size: 1.2rem;
$xSmall-btn-font-size: 1rem;


$xBig-font-size: 5.5rem;
$big-font-size: 4rem;
$xLarge-font-size: 3.5rem;
$large-font-size: 2.7rem;
$med-font-size: 2.3rem;
$small-font-size: 2rem;
$xSmall-font-size: 1.5rem;
