@use '../../../../common/styles/variables';
@use '../../../../common/styles/mixins' as mixins;

.hero {
  align-items: center;
  background: variables.$black-color;
  color: variables.$dark-purple-text;
  padding: 5.5rem 5.5rem;
  margin-top: 10.5rem;
  margin-bottom: 0;

  .loadHidden {
    // visibility: hidden;
  }

  .heroTitle {
    font-size: variables.$xBig-font-size;
    font-weight: 700;
    margin-bottom: 3.2rem;
    text-align: left;

    @include mixins.respond(tab-land) {
      font-size: variables.$big-font-size;
    }
    @include mixins.respond(tab-port) {
      font-size: variables.$xLarge-font-size;
      text-align: center;
    }
    @include mixins.respond(phone-xs) {
      font-size: variables.$large-font-size;
    }
  }

  .heroPosition {
    font-size: variables.$large-font-size;
    font-weight: 100;
    margin-bottom: 3.2rem;
    text-align: left;

    @include mixins.respond(tab-land) {
      font-size: variables.$med-font-size;
    }
    @include mixins.respond(tab-port) {
      font-size: variables.$small-font-size;
      text-align: center;
    }
    @include mixins.respond(phone-xs) {
      font-size: variables.$xSmall-font-size;
    }
  }

  .heroCta {
    display: flex;

    @include mixins.respond(tab-port) {
      justify-content: center;
    }

    & a {
      font-size: variables.$large-font-size;

      @include mixins.respond(tab-land) {
        font-size: variables.$med-font-size;
      }
      @include mixins.respond(tab-port) {
        font-size: variables.$small-font-size;
        text-align: center;
      }
      @include mixins.respond(phone-xs) {
        font-size: variables.$xSmall-font-size;
      }
    }
  }
}
