@use '../../common/styles/variables';
@use '../../common/styles/mixins' as mixins;

.contact {
  background-image: linear-gradient(
    135deg,
    variables.$primary-color 0%,
    variables.$secondary-color 100%
  );
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 10rem 0 5rem 0;
  margin-top: -15rem;
  margin-bottom: -1px;
  color: variables.$white-color;

  @include mixins.respond(tab-land) {
    padding: 5rem;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .loadHidden {
    // visibility: hidden;
  }
}
