@use '../../../../common/styles/variables';
@use '../../../../common/styles/mixins' as mixins;

.card {
    width: 80rem;
    background-image: linear-gradient(
		135deg,
		variables.$primary-color 0%,
		variables.$secondary-color 100%
	);
    transition: transform 0.2s ease-in-out;

    :hover {
        transform: scale(1.05);
    }

    @include mixins.respond(tab-land) {
        width: 70rem;
    }

    @include mixins.respond(tab-port) {
        width: 50rem;
    }

    @include mixins.respond(phone) {
        width: 35rem;
    }

    @include mixins.respond(phone-xs) {
        width: 25rem;
    }
}

.img {
    width: 70rem;

    @include mixins.respond(tab-land) {
        width: 60rem;
    }

    @include mixins.respond(tab-port) {
        width: 40rem;
    }

    @include mixins.respond(phone) {
        width: 30rem;
    }

    @include mixins.respond(phone-xs) {
        width: 20rem;
    }
}

.title {
    font-size: variables.$xLarge-font-size;

    @include mixins.respond(tab-port) {
        font-size: variables.$med-font-size;
    }

    @include mixins.respond(phone) {
        font-size: variables.$small-font-size;
    }

    @include mixins.respond(phone-xs) {
        font-size: variables.$xSmall-font-size;
    }
}

