@use '../../../common/styles/variables';
@use '../../../common/styles/mixins';

.nav {
    background-color: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: variables.$small-font-size;

    @include mixins.respond(tab-land) {
        font-size: variables.$xSmall-font-size;
    }
    @include mixins.respond(tab-med) {
        background-color: variables.$white-color;
    }
}

.btn {
    font-size: variables.$med-font-size;
}

.navlink {
    color: variables.$light-purple !important;
    margin: 1rem;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property:transform;

    @include mixins.respond(tab-med) {
        color: variables.$dark-purple-text !important;
        margin: 0 !important;
    }
}

.navlink:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(center, ellipse, rgba(177, 153, 182, 1) 0%, rgba(177, 153, 182, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(177, 153, 182, 1) 0%, rgba(177, 153, 182, 0) 80%);
    transition-duration: 0.3s;
    transition-property: transform, opacity;

    @include mixins.respond(tab-med) {
        background: -webkit-radial-gradient(center, ellipse, rgba(113, 17, 155, 1) 0%, rgba(113, 17, 155, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(113, 17, 155, 1) 0%, rgba(113, 17, 155, 0) 80%);
    }
}

.navText {
    margin-top: 2.8rem;

    @include mixins.respond(tab-land) {
        margin-top: 2.5rem;
    }
}

.scrolled {
    background-color: variables.$white-color !important;
    color: variables.$dark-purple-text !important;
}

.scrolled:before{
    background: -webkit-radial-gradient(center, ellipse, rgba(113, 17, 155, 1) 0%, rgba(113, 17, 155, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(113, 17, 155, 1) 0%, rgba(113, 17, 155, 0) 80%);
}

.navlink:hover{
    opacity: 0.5;
}

.navlink.active, .navlink.active:before{
    opacity: 1;
    transform: translateY(-5px);
}

.bounce {
    animation: bounce-animation 0.5s ease-in-out infinite;
}

@keyframes bounce-animation {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.logo {
    width: 115px;
    height: auto;
    margin-top: 0;

    @include mixins.respond(tab-land) {
        width: 90px;
    }
}
